.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background:#F5F1E3;
}

.copyright {
  font-size: large;
  margin-top: 15px;
  color: #1B9AAA;
  display: inline-block;
  margin-left: 10px;
}

.contact {
  margin-top: 15px;
  font-size: large;
  position: absolute;
  display: inline-block;
  right: 0;
  margin-right: 10px;
}
